<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mDSE_2021_2_Modeling_Project -->
      <package
            uri="http://www.example.org/mDSE_2021_2_Modeling_Project"
            class="mDSE_2021_2_Modeling_Project.MDSE_2021_2_Modeling_ProjectPackage"
            genModel="model/mDSE_2021_2_Modeling_Project.genmodel"/>
   </extension>

</plugin>
